<ul class="sidebar-nav list-group">
  <li class="list-group-item">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Alias amet beatae dignissimos dolorum ea impedit necessitatibus
      nihil quisquam saepe sunt. Ad at distinctio iste iusto laudantium mollitia,
      ratione sunt ullam?
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Ad adipisci aperiam, assumenda cum debitis dolorem harum iure molestiae
      mollitia non placeat quos reiciendis sapiente sunt voluptatem voluptates voluptatibus. Facilis, officiis.
    </p>
  </li>
</ul>